<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag("logo.png") %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm" id="navbar">
    <div class="navbar-wagon-item navbar-wagon-link"><%= link_to 'Accueil', root_path %></div>

    <div class="navbar-wagon-item navbar-wagon-link"><%= link_to 'Voir toutes les îles', islands_index_path %></div>

    <div class="navbar-wagon-item navbar-wagon-link"><%= link_to 'Créer une île', islands_new_path %></div>

    <div class="navbar-wagon-item navbar-wagon-link"><%= link_to 'Connexion', new_user_session_path %></div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="">Accueil</a></li>
        <li><a href="search.html">Chercher une île</a></li>
        <li><a href="create.html">Créer une île</a></li>
        <li><a href="#">Connexion</a></li>
      </ul>
    </div>
  </div>
</div>
